{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Привет, я автор</h1>
        <p>Доброго времени суток уважаемый читатель!<br>
        Здесь я расскажу немного о себе.
        </p>
        <p><a href='https://github.com/alvaresShD'>Мой аккаунт</a>  с платформы github<br>
    <h3>Что меня вдохновляет:</h3>
    <ul>
        <li>активная жизнь</li>
        <li>яркие положительные эмоции </li>
        <li>негативный опыт также мотивирует не повторять его</li>
    </ul>
    <p>Пришел я в мир обучения программированию долгим путем, главным образом поверив в свои силы.<br>
    Веру в свои возможности я приобрел на менее интеллектуальной работе, начиная с обычного слесаря и заканчивая руководителем по коммерческой работе.<br>
    И спустя 11 лет <i>мытарств</i> решил поменять профессию.<br>
    Выбор пал на программирование т.к. давно были мыли чем я хуже чем остальные.<br>
    Больших успехов не жду, но мне начав самостоятельное обучение понял что мне нравиться это.<br>
    Поэтому заберу все что смогу взять и унести из данного курса<span>&#x1F643</span><br>
    В приянтии решения и выбора курса мне помогла моя супруга, она кстати тестировщиков работает.<br>
    Мысль пойти тестировщиком у меня быстра отпала, т.к. я привык потеть на работе в плане отдачи.<br>
    В процессе обучения меня подбадривала и иногда отвлекала кошка, вот кстати ее фото.
    <br><br>
        <img src="{% static 'img/cat.png' %}" width="400" height="300" class="d-inline-block align-top" alt="">
    </p>
</div>
{% endblock %}